src/main/mule/practicesoapservice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="daf09df1-3903-4784-a213-71bd85367659" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="f1691d1b-727f-40b1-9ce7-980ca9b38499" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" />
	</wsc:config>
	<flow name="practicesoapserviceFlow" doc:id="85265640-fd49-4a3d-9bb1-7e25e09ba590" >
		<http:listener doc:name="Listener" doc:id="b28c3b85-c7e3-4434-b9b8-f86c917c2cb8" config-ref="HTTP_Listener_config" path="/{action}" outputMimeType="application/json" allowedMethods="POST"/>
		<set-variable value="#[attributes.uriParams.action]" doc:name="Set Variable" doc:id="fce44f3b-becd-493b-90ad-51167abb5af7" variableName="action"/>
		<ee:transform doc:name="Transform Message" doc:id="896f098b-81ca-4a6b-8e9d-6768d11ead40" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org
---
{
	ns0#Add:{
		ns0#intA: payload.Value1,
		ns0#intB: payload.Value2
		
	}
		
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="e09482fe-dac3-44ec-a263-ffdce182d04c" >
			<when expression='#[vars.action=="add"]'>
				<wsc:consume operation="Add" doc:name="Consume" doc:id="100bbf99-43ed-415d-a3d7-4902f6aed181" config-ref="Web_Service_Consumer_Config"/>
				<ee:transform doc:name="Transform Message" doc:id="6e899ec2-5dfb-4be6-8d9e-1c1eb8e912ac" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	Result: {
		Operation: vars.action,
		ResultValue: payload.body.AddResponse.AddResult
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<raise-error doc:name="Raise error" doc:id="0eec75c3-c721-48bd-9e73-1f18e5447d71" type="CUSTOM:INVALID_OPERATION" description="OPERATION NOT SUPPORTED CURRENTLY"/>
			</otherwise>
		</choice>
	</flow>
</mule>
